.page {
  width: 210mm;
  height: 297mm;
  margin: 1rem auto;
  padding: 20mm;
  background: white;
  color:black;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  overflow: hidden; /* clip overflow text */
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
